<button class="btn" ng-click="reload()">Reload</button>
<ul class="ads col-sm-8" data-ng-controller="HomeController" data-ng-class="adContainerStyle">
    <li data-ng-repeat="ad in data.ads" class="box col-sm-10">
        <!--<a href="#/ads/{{ad.id}}"></a>-->
        <h1>{{ad.title}}</h1>
        

        <div class="adsDate">
            <strong>Date:</strong>
            {{ad.date | date: 'dd-MMM-yyyy'}}
        </div>

        <div ng-if="ad.imageDataUrl">
            <strong>Image:</strong>
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        
        <div class="col-sm-7" data-ng-class="adContent">
           <label><strong>Text:</strong> </label> <div class="adsText">{{ad.text}}</div>
           <label><strong>Name:</strong> </label> <div class="adsContent">{{ad.ownerName}}</div>
           <label><strong>Email:</strong> </label> <div class="adsContent">{{ad.ownerEmail}}</div>
           <label><strong>Phone:</strong> </label> <div class="adsContent">{{ad.ownerPhone}}</div>
            <!--<div><strong>Town:</strong> {{ad.townName}}</div>
            <div><strong>Category:</strong> {{ad.categoryName}}</div>
            <div><strong>Status:</strong> {{ad.status}}</div>-->
        </div>

    </li>
</ul>


<div ng-if="data.ads.length==0" class="box no-data">
    No ads found. Please try again later.
</div>

<div class="row pagination-div">
    <div class='col-md-9 col-sm-10 col-xs-12 col-centered'>
        <div on-page-change="pageChanged(newPageNumber)" ng-include src="'../templates/pagination.html'"></div>
    </div>
</div>