<div class="box">
    <h2>Login</h2>

    <form class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input class="form-control" id="username" ng-model="userData.username" placeholder="Username" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="password" ng-model="userData.password" placeholder="Password" type="password" required>
                </div>
            </div>
            
            
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Cancel</button>
                   
                    <a ng-click="login(userData)" class="button">Login</a>
                    <a href="#/register" class="link">Register</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>