
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="utf-8">
    <title>My AngularJs Project</title>


    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>


    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />

    <style>
        .my-form {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
            background: transparent;
        }

            .my-form.ng-invalid {
                background: red;
            }
    </style>

</head>
<body data-ng-app="app">


    <div ng-include src="'../templates/header.html'"></div>


    <main>

        <!--<div class="container" ng-controller="adsPage">
            <div class="col-sm-4">
                <button type="button" ng-click="getItems()" class="btn btn-primary">Get Ads</button>
                <ul>
                    <li ng-repeat="item in items.results">{{item.title}}</li>
                </ul>

            </div>
        </div>-->

        <div class=" col-md-2 sidebar">
            <div ng-include src="'../templates/left-sidebar.html'"></div>
        </div>

        <!--<div class=" col-md-2" ng-controller="HomeController">
            <div ng-include src="'../templates/home.html'"></div>
        </div>-->

        <a href="#/ads">All Ads</a>
        <div id="container" class="col-sm-10">
            <data-ng-view></data-ng-view>
        </div>
       

        <div class=" col-md-2 sidebar rightSidebar" ng-controller="RightSidebarController">
            <div ng-include src="'../templates/right-sidebar.html'"></div>
        </div>


    </main>
    <footer>
        <p class="text-center">© 2014 by MalinaD, All Rights Reserved</p>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-animate.min.js"></script>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/parse/auth.js"></script>
    <script src="../scripts/parse/ads.js"></script>

    <script src="../scripts/directives/left-sidebar.js"></script>

    <script src="../scripts/controllers/HomeController.js"></script>
    <script src="../scripts/controllers/LoginController.js"></script>
    <script src="../scripts/controllers/RegisterController.js"></script>
    <script src="../scripts/controllers/RightSidebarController.js"></script>
    <script src="../scripts/controllers/AppController.js"></script>
    <script src="../scripts/controllers/AddDetailsController.js"></script>
    <!--<script src="../scripts/controllers/controller.js"></script>-->

    <script src="../scripts/services/adsServices.js"></script>
    <script src="../scripts/services/authService.js"></script>
    <script src="../scripts/services/notifyService.js"></script>
</body>


</html>