
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head data-ng-app="app">
    <meta charset="utf-8">
    <title>My AngularJs Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-animate.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>


    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <style>
        .my-form {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
            background: transparent;
        }

            .my-form.ng-invalid {
                background: red;
            }
    </style>

</head>
<body>

    <header>
        <div class="container">
            <div class="col-sm-12">
                <h1 class="text-center">Ads Practical Project</h1>
            </div>
        </div>
    </header>

    <main>
    <div ng-app="AuthApp" class="container">
        <div ng-hide="currentUser" class="col-sm-4">
            <form name="myForm" ng-show="scenario == 'Sign up'" class="my-form">
                <h2>Sign up</h2>
                <p>To publish a new ad, please log in</p>
                Email: <input type="email" ng-model="user.email" /><br />
                Username: <input type="text" ng-model="user.username" required /><br />
                <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
                Password: <input type="password" ng-model="user.password" /><br />
                <button ng-click="signUp(user)" class="btn btn-primary">Sign up</button>
                or <a href="#" ng-click='scenario="Log in"'>Log in</a>
            </form>

            <form ng-show="scenario == 'Log in'">
                <h2>Log in</h2>
                <p>To publish a new ad, please log in</p>
                Username: <input type="text" ng-model="user.username" /><br />
                Password: <input type="password" ng-model="user.password" /><br />
                <button ng-click="logIn(user)" class="btn btn-primary">Log in</button>
                or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
            </form>
        </div>
        <div ng-show="currentUser">
            <h1>Welcome to my app, {{currentUser.get('username')}}</h1>
            <p> You have been successfully logged in!</p>
            <button ng-click="logOut(user)" class="btn btn-primary">Log out</button>
        </div>
    </div>
   
        <div class="container" ng-controller="adsPage">
            <div class="col-sm-4">
                <button type="button" ng-click="getItems()" class="btn btn-primary">Get Ads</button>
                <p ng-repeat="item in items">{{item.title}}</p>
            </div>
        </div>
   
    <div class="container">
        <div class="col-sm-4">
            <h3>Categories:</h3> <br /> <hr />
        </div>

    </div>

    <div class="container">
        <div class="col-sm-4">
            <h3>Towns:</h3> <br /> <hr />
        </div>
     </div>

    </main>
    <footer>
        <p class="text-center">© 2014 by MalinaD, All Rights Reserved</p>
    </footer>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/register.js"></script>
    <script src="../scripts/ads.js"></script>


</body>


</html>