body {
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
    background-color:#9ce165;
}

main{
    height:3600px;
    margin:20px;
    width:98%;

}

header h1{
    text-align:center;
    padding:3px;
}
.box{
    background-color:#54ad56;
    border: 1px solid black;
    border-radius:2px;
    display:inline-block;
    padding:3px;
    margin:15px;
    text-align:center;
}

.box h2{
  font-size:28px;
  font-weight:bold;
}

.box ul li a{
    text-decoration:none;
    color:black;
    font-size:18px;
}

.box ul li{
    list-style-type:none;
}

.login, .register {
    display:inline-block;
    padding:10px;
     margin-left: auto;
    margin-right: auto;
    width: 42%;
}

/*.rightsidebar{
    margin-top: -250px;
}*/

.rightSidebar{
    float:right;
    display:inline-block;

}
adsMainContent{
    display:inline-block;
    padding:5px;
}

.ad-image{
    width:150px;
    height:150px;
    padding:15px;
}

.ads h1{
  font-size:28px;
  font-weight:bold;
  text-align:left;
}

.adsDate{
  font-size:18px;
  text-align:right;
} 

.adsContent{
  font-size:18px;
  text-align:right;
  border:1px dotted black;
      background-color:#b6ff00;
          width:70%;
}

.adsText{
    display:inline-block;
    border:1px dotted black;
    width:90%;
    height:150px;
    float:right;
    padding:10px;
    margin-top:10px;
          background-color:#b6ff00;
}
.adsImage,image-box{
    display:inline-block;
    border: 1px solid black;
    border-radius:5px;
    width:200px;
    height:200px;
    background-color:#b6ff00;
    float:left;
}

